<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>csfvs</title>
</head>
<body>
    <p>User: {{user.user_id}}</p>
    <div>
        <h2>Projects</h2>
        <ul>
            {{#each projects}}
            <li><a href="/projects/{{project_id}}">{{name}}</a></li>
            {{/each}}
        </ul>
    </div>
    <div>
    {{{body}}}
    </div>
</body>
</html>
