<form class="p-4" method="POST" href="/projects/add">
    <div class="w-100 d-flex mb-3">
        <a href="/" class="btn btn-secondary">Cancel</a>
        <span class="flex-grow-1"></span>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
    <h2>Add project</h2>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" required class="form-control" id="name" name="name" />
    </div>
</form>
