<div class="text-center d-flex flex-column align-items-center">
    <h1>csfvs</h1>
    <div class="lead"><a href="https://anli.dev" target="_blank">Anthony Li</a> & <a href="https://github.com/edwfeng" target="_blank">Edward Feng</a></div>
    <div class="text-muted mb-3">Background by <a href="https://github.com/blckbrry-pi"
            target="_blank">Skyler</a>.</div>
    <div><a href="/login" class="btn btn-primary">Sign in with Google</a></div>
</div>
